extends nav-bar.pug

block scripts
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
      h2 Results
      .table-responsive
        table.table.table-striped.table-sm
          thead
            tr
              th #
              th Date
              th Genus/Species
              th Number of Isolates
              th Status
              th Report
          tbody
block end
  script(src='/js/jquery/jquery.slim.min.js')
  script.
    window.jQuery || document.write('<script src="/js/jquery/jquery-slim.min.js"><\\/script>')
  script(src='/js/bootstrap/bootstrap.bundle.min.js')
